h1 {
    background: #412eba;
    height: auto;
    padding: 100px 100px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.navbar {
    outline: 3px solid black;
}